html(lang="es")
    head
        title='Lompas | Productos en PUG'
    body
        a(href="../")='Cargar productos'

        h2='Productos'

        if aProducts.length !== 0
            table
                tr
                    th='NOMBRE'
                    th='PRECIO'
                    th='IMAGEN'

                each i in aProducts
                    tr
                        td= i.title
                        td= i.price
                        td 
                            img(src=i.thumbnail alt=i.title height='100px')

        else
            h2='No hay productos cargados...'